/DREXCreateFunctionForTrussLink/packages
/DREXCreateFunctionForTrussLink/.vs
/DREXCreateFunctionForTrussLink/DREXCreateFunctionForTrussLink/.vs
/DREXCreateFunctionForTrussLink/DREXCreateFunctionForTrussLink/bin
/DREXCreateFunctionForTrussLink/DREXCreateFunctionForTrussLink/obj
