<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DREXCreateFunctionForTrussLink.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <DREXCreateFunctionForTrussLink.Properties.Settings>
      <setting name="HostName" serializeAs="String">
        <value />
      </setting>
      <setting name="DlgScale" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DlgWidth" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="DlgHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="DlgWidthCol1" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DlgWidthCol2" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DlgWidthCol3" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DlgWidthCol4" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DlgWidthCol0" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="DlgWidthCol5" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DlgWidthCol6" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DlgWidthCol7" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DlgWidthCol8" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DlgWidthCol9" serializeAs="String">
        <value>200</value>
      </setting>
    </DREXCreateFunctionForTrussLink.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
